parameters:
	stubFiles:
		- ./stubs/Magento/Framework/View/LayoutInterface.stub
		- ./stubs/Magento/Rule/Model/Condition/AbstractCondition.stub
		- ./stubs/Magento/Payment/Helper/Data.stub
		- ./stubs/Magento/Payment/Model/MethodInterface.stub
		- ./stubs/Magento/Framework/Exception/LocalizedException.stub
		- ./stubs/Magento/Framework/Data/Form/Element/AbstractElement.stub
		- ./stubs/Magento/Framework/Data/Form/Element/Collection.stub
		- ./stubs/Magento/Eav/Setup/EavSetup.stub
	ignoreErrors:
		-
			message: '#^Method [a-zA-Z0-9\\_]+\\Plugin\\[a-zA-Z0-9\\_]+\:\:(before|after|around)[a-zA-Z0-9_-]+\(\) has parameter \$[a-zA-Z0-9_-]* with no type specified#'
			identifier: missingType.parameter
			path: */Plugin/*
